/* 公用css */
.section{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

/* 文本 */

@font-face {
    font-family: 'eng-bold';
    src: url("https://zurich.cdn.xyh.io/font/Oswald-SemiBold.ttf")
}

.text-font-bold{
    font-family: 'eng-bold';
}

.text-black{
    color: #333 !important;
}

.text-grey{
    color: #888 !important;
}

.text-gold{
    color: #c0966b !important;
}

.text-lack {
    color: #95d7cf;
}

.text-h3{
    font-size: 4vw;
}

.text{
    font-size: 3.5vw;
}

/* 布局 */
.position-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
