/* 公用css */
:root{
    --color-black: #333 !important;
    --color-grey: #888 !important;
    --color-gold: #c0966b !important;
}

.section{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}

/* 文本 */

@font-face {
    font-family: 'eng-bold';
    src: url("https://zurich.cdn.xyh.io/font/Oswald-SemiBold.ttf")
}

.text-font-bold{
    font-family: 'eng-bold';
}

.text-black{
    color: var(--color-black);
}

.text-grey{
    color: var(--color-grey);
}

.text-gold{
    color: var(--color-gold);
}

.text-lack {
    color: #95d7cf;
}

.text-blue{
    color: #4a90e2;
}

.text-green{
    color: #5da77a;
}

.text-h3{
    font-size: 6vw;
}

.text{
    font-size: 4vw;
}
.text-mini{

}

.text-light{
    font-weight: 300;
}

.text-center{
    text-align: center;
}

/* 布局 */
.position-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column{
    flex-direction: column;
}

.full-width{
    width: 100%;
}

.full-height{
    height: 100%;
}
