/*screen1 frame1*/
.screen1-bg {
    width: 90vw;
    height: 90vh;
    z-index: -1;
    overflow: hidden;
}

.screen1-bg div{
    object-fit: cover;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.screen-logo{
    width: 30vw;
    height: 20vw;
    margin-bottom: 5vw;
}

/*screen1 frame2*/
.screen1-icon {
    width: 25vw;
    height: auto;
    margin-bottom: 6vw;
}

.screen1-line {
    width: .4vw;
    height: 8vw;
    margin: 0 4vw 0 6vw;
    background: var(--color-gold);
}


/*screen2 frame1*/
.screen2-waterfall {

    display: flex;
    width: 100vw;
    opacity: 0;
    padding:0 5vw ;
}

.screen2-waterfall .waterfall-list {
    height: 120vh;
    /*overflow: auto;*/
    padding: 0 .5vw;
    transform: matrix(1, 0, 0, 1, 0, -500);
}

.screen2-waterfall .waterfall-list1 {
    height: 120vh;
    /*overflow: auto;*/
    padding: 0 .5vw;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.screen2-waterfall .waterfall-item {
    margin: .5vw 0;
    width: 100%;
    height: auto;
    border: 1px solid #e4e4e4;
    overflow: hidden;
    border-radius: 1vw;
}

.screen2-text {
    position: absolute;
    top: 50%;
    right: 40%;

    transform: translateY(-50%);
}

.screen2-text p {
    margin-bottom: 2vw;
    text-align: center;
}

/*screen2 frame2*/
.screen2-heart{
    width: 20vw;

}
.screen2-icon {
    width: 15vw;

}

.screen2-brand {
    padding-top: 1vw;

}

/*screen2 frame3*/
.screen2-num {
    padding-top: 2vw;

}

.screen2-icon {
    width: 7vw;
    margin-right: 2vw;
}

/*screen3 frame1*/
.screen3-table-bg {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.screen3-box{
    position: relative;
    top: 150vh;
}
.screen3-img {
    width: 35vw;
    box-shadow: 1vw 1vw 1vw rgba(0, 0, 0, .2);
    margin:7vw 5vw 5vw 6vw;
    transform: rotate(-7deg);


}

.screen3-img1 {
    top: 1%;
    left: 5%;
    transform: rotate(7deg);
}

/*screen3 frame2*/


/*screen4 frame1*/
.screen4-main {
    justify-content: space-between;
    position: absolute;
    width: 300vw;
    text-align: center;
    margin-left: calc(50vw - 10.5vw);
    /*transform: translateX(-300vw);*/
}

.screen4-box-item {
    width: 25vw;
    text-align: center;
}

.screen4-img {
    padding-bottom: 3vw;
    width: 21vw;
    height: 20vw;
    z-index: 200;
    background: white;
}

/*虚线*/
.screen4-dash {
    width: 100%;
    height: 2vw;
    background-image: linear-gradient(to right, #ddd 0%, #ddd 50%, transparent 50%);
    background-size: 10vw 1vw;
    background-repeat: repeat-x;
    position: relative;
    z-index: -10;
}

/*点*/
.screen4-dot {
    position: absolute;
    top: -1.7vw;
    width: 4.4vw;
    height: 4.4vw;
    border-radius: 50%;
    background-color: rgba(239, 238, 161, 0.6);

}

.screen4-dot::after {
    content: '';
    position: absolute;
    left: 1vw;
    top: 1vw;
    width: 2.4vw;
    height: 2.4vw;
    border-radius: 50%;
    background-color: rgba(234, 212, 39, 0.9);
}

.screen4-dash-left {
    left: 8vw;
}

.screen4-dash-right {
    right: 8vw;
}

/*screen4 frame2*/

/*screen4 frame3*/
.screen4-item {
    padding: 2vw;
}

.screen4-item .item-title {
    padding-bottom: 2vw;
}

/*screen5 frame1*/


/*screen5 frame2*/
.screen5-title {
    padding-bottom: 3vw;
}

/*晒单卡片*/
.screen5 .review {
    width: 30vw;
    height: 40vw;
    background: #ffffff;
    border-radius: 1.5vw;
    box-shadow: .5vw .5vw 1vw rgba(000, 000, 000, 0.1);
    margin: 2vw;

}

.screen5 .review-item {
    display: flex;


}

.screen5 .post-img {
    width: 30vw;
    height: 25vw;
    border-radius: 1.5vw 1.5vw 0 0;

}

.screen5 .avatar {
    width: 3vw;
    height: 3vw;
    border-radius: 4vw;
    margin: 0.5vw;

}

.screen5 .review-text {
    margin: 1vw;
    overflow: hidden;
    height: 10vw;

}

/*screen6 frame1*/
.screen6-icon {
    width: 20vw;
}

.screen6-text {
    padding: 5vw 0;
}

.screen6-button {
    padding: 2vw 5vw;
    border-radius: 12vw;
    background: white;
    border: solid 0.3vw #d66852;
    color: #d66852;
}