/*frame1*/
.section1-bg{
    width: 90vw;
    height: 90vh;
    z-index: -1;
}

.section1-bg img{
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.section1-text{
    width: 100%;
    text-align: center;
}

/*frame2*/
.section2{
    height: 100%;
    flex-direction: column;
}

.section2 img{
    width: 25vw;
    height: auto;
    margin-bottom: 6vw;
}

.section2-line{
    width: .3vw;
    height: 8vw;
    margin: 0 4vw;
    background: var(--color-gold);
}


/*screen2 frame1*/
.section3-waterfall{
    display: flex;
    width: 65vw;
    transform: rotate(-15deg);
    margin-top: -3vw;
    margin-left: -3vw;
}

.section3-waterfall .waterfall-list {
    height: 120vh;
    overflow: hidden;
    padding: 0 .5vw;
}

.section3-waterfall .waterfall-item{
    margin:.5vw 0;
    width: 100%;
    height: auto;
    border: 1px solid #e4e4e4;
    overflow: hidden;
    border-radius: 1vw;
}

.section3-text{
    position: absolute;
    top: 50%;
    right:8%;
    transform: translateY(-50%);
}

.section3-text p{
    margin-bottom: 2vw;
}

/*screen2 frame2*/
.brand {
    color: #888888;
    font-size: 14px;
    position: relative;
    left: 46vw;
}
.brand-amount {
    color: black;
    font-size: 18px;
    position: relative;
    padding: 0 43vw;
}
.brand-designer {
    font-size: 18px;
    position: relative;
    padding: 0 37vw;
}
/*screen2 frame3*/
.brand-like {
    color: #888888;
    font-size: 18px;
    position: relative;
    padding: 0 29vw;
}

.counter img{
    width: 40vw;
    height: 18vh;
    padding: 5px;
    box-shadow:  0 1px 5px rgba(0, 0, 0, .2);
}
/*screen3 frame1*/
.counter-img1{
    margin-bottom: 6vw;
}
.counter-img2{
    margin-left: 6vw;
}
.counter-img3{
    margin-left: 9vw;
}
.promise{
    position: absolute;
    top: 45%;
    left: 20%;
}