/*frame1*/
.section1-bg{
    width: 90vw;
    height: 90vh;
    z-index: -1;
}

.section1-bg img{
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.section1-text{
    width: 100%;
    text-align: center;
}

/*frame2*/
.section2{
    height: 100%;
    flex-direction: column;
}

.section2 img{
    width: 25vw;
    height: auto;
    margin-bottom: 6vw;
}

.section2-line{
    width: .3vw;
    height: 8vw;
    margin: 0 4vw;
    background: var(--color-gold);
}


/*screen2 frame1*/
.section3-waterfall{
    display: flex;
    width: 65vw;
    transform: rotate(-15deg);
    margin-top: -3vw;
    margin-left: -3vw;
}

.section3-waterfall .waterfall-list {
    height: 120vh;
    overflow: hidden;
    padding: 0 .5vw;
}

.section3-waterfall .waterfall-item{
    margin:.5vw 0;
    width: 100%;
    height: auto;
    border: 1px solid #e4e4e4;
    overflow: hidden;
    border-radius: 1vw;
}

.section3-text{
    position: absolute;
    top: 50%;
    right:8%;
    transform: translateY(-50%);
}

.section3-text p{
    margin-bottom: 2vw;
}

/*screen2 frame2*/
.section4{
    height: 100%;
    flex-direction: column;
}

.section4-icon{
    width: 15vw;
}

.section4 p{
    padding-top: 1vw;
}

/*screen2 frame3*/
.section5-main{
    flex-direction: column;
}

.section5-main2{
    width: 100%;
}

.section5-main .num{
    padding-top: 2vw;
}

.section5-icon{
    width: 7vw;
    margin-right: 2vw;
}

/*screen3 frame1*/
.section6-bg{
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
}

.section6-img{
    position: absolute;
    width: 35vw;
    box-shadow: 1vw 1vw 1vw rgba(0,0,0,.2);
}

.section6-img1{
    top:5%;
    left: 5%;
}
.section6-img2{
    top:20%;
    left: 50%;
}
.section6-img3{
    top: 50%;
    left: 10%;
}

/*screen3 frame2*/


/*screen4 frame1*/
.section8-main {
    height: 100%;
    width: 300vw;
    text-align: center;
    margin-left: calc(50vw - 10.5vw);
    /*transform: translateX(-300vw);*/
}

.section8-box-item {
    width: 25vw;
    text-align: center;
}

.section8-img {
    padding-bottom: 3vw;
    width: 21vw;
    height: 20vw;
}

/*虚线*/
.section8-dash {
    width: 100%;
    height: 2vw;
    background-image: linear-gradient(to right, #ddd 0%, #ddd 50%, transparent 50%);
    background-size: 10vw 1vw;
    background-repeat: repeat-x;
    position: relative;
}
/*点*/
.section8-dot{
    position: absolute;
    top: -1.7vw;
    width: 4.4vw;
    height: 4.4vw;
    border-radius: 50%;
    background-color: rgba(239, 238, 161, 0.6);
}

.section8-dot::after{
    content: '';
    position: absolute;
    left: 1vw;
    top: 1vw;
    width: 2.4vw;
    height: 2.4vw;
    border-radius: 50%;
    background-color: rgba(234, 212, 39, 0.9);
}

.section8-dash-left{
    left: 8vw;
}

.section8-dash-right{
    right: 8vw;
}