<div class="section">
    <div class="flex-center full-height">
        <div class="flex-center flex-column section10-item">
            <p class="text-h3 text-grey text-light item-title">平均收货时间</p>
            <p class="text text-font-bold">
                <span class="text-h3 text-blue text-font-bold">8.3</span>天
            </p>
        </div>

        <div  class="flex-center flex-column section10-item">
            <p class="text-h3 text-grey text-light item-title">两周内收货</p>
            <p class="text text-font-bold">
                <span class="text-h3 text-green text-font-bold">95%</span>用户
            </p>
        </div>

    </div>

</div>