<div class="section">
    <div class="section8-main full-height flex-center" id="line">
        <div class="section8-box-item">
            <img src="img/location.svg" class="section8-img" />
            <p class="text text-light">货源地</p>
        </div>

        <div class="section8-dash">
            <div class="section8-dot section8-dash-left"></div>
        </div>

        <div class="section8-dash">
            <div class="section8-dot section8-dash-right"></div>
        </div>

        <div class="section8-box-item">
            <img src="img/depot.svg" class="section8-img" />
            <p class="text  text-light">自营仓库</p>
        </div>



        <div class="section8-dash">
        </div>

        <div class="section8-box-item">
            <img src="img/worker.svg" class="section8-img" />
            <p class="text text-light">员工把关验货</p>
        </div>

        <div class="section8-dash">
            <div class="section8-dot section8-dash-left"></div>
        </div>

        <div class="section8-dash">
            <div class="section8-dot section8-dash-right"></div>
        </div>

        <div class="section8-box-item">
            <img src="img/SF.svg" class="section8-img" />
            <p class="text text-light">顺丰配送</p>
        </div>
    </div>
</div>