<div class="section">
    <div class="main flex-center">
        <div class="box ">
            <img src="img/location.svg" class="point-img">
            <hr size=1 class="dash">
            <text>货源地</text>
        </div>
        <div class="box">
            <img src="img/depot.svg" class="point-img">
            <text>货源地</text>
        </div>
        <div class="box">
            <img src="img/worker.svg" class="point-img">
            <text>货源地</text>
        </div>
        <div class="box">
            <img src="img/SF.svg" class="point-img">
            <text>货源地</text>
        </div>
    </div>
</div>