<div class="section">
    <div class="section4-main flex-center " id="line">
        <div class="section4-box-item">
            <img src="img/location.svg" class="section4-img">
            <text class="text">货源地</text>
        </div>

        <hr size=1 class="section4-dash">

        <div class="section4-box-item">
            <img src="img/depot.svg" class="section4-img">
            <text class="text">自营仓库</text>
        </div>

        <hr size=1 class="section4-dash">
        <div class="section4-dot"></div>

        <div class="section4-box-item">
            <img src="img/worker.svg" class="section4-img">
            <text class="text">员工把关验货</text>
        </div>

        <hr size=1 class="section4-dash">

        <div class="section4-box-item">
            <img src="img/SF.svg" class="section4-img">
            <text class="text">顺丰配送</text>
        </div>

    </div>
</div>