<div class="section">
    <div class="flex-center section4-text">
        <div>
            <p class="text">平均收货时间</p>
            <p class="text">8.3天</p>
        </div>

        <div>
            <p class="text">两周内收货</p>
            <p class="text">95%用户</p>
        </div>

    </div>

</div>