<div class="section">
    <div class="position-center full-width">
        <p class="text text-grey text-center">
            甄选海外40多家
            <span class="text-gold">实体店</span>/
            <span class="text-gold">电商网站</span>
        </p>
    </div>

    <div  class="position-center text text-grey full-width text-center">
        <p class="text-light">源头上杜绝假货</p>
        <p>模式决定：<span class="text-gold">我们只卖正品</span></p>
    </div>

    <div class="section1-bg position-center"  id="bg1">
        <img src="./img/screen1/world.svg"/>
    </div>

</div>