<div class="section">
    <div class="counter">
    <img src="img/2.jpg" class="counter-img1"/>
    <img src="img/3.jpg" class="counter-img2"/>
    <img src="img/2.jpg" class="counter-img3"/>
    </div>
</div>