<div class="section">
    <img src="../../../img/screen2/waterfallsFlow/2.jpg" class="counter-img1"/>
    <img src="../../../img/screen2/waterfallsFlow/3.jpg" class="counter-img2"/>
    <img src="../../../img/screen2/waterfallsFlow/2.jpg" class="counter-img3"/>
</div>