<div class="section">
   <text class="promise text-grey">
       甄选海外40多家<text class="text-gold">实体店</text>/<text class="text-gold">电商网站</text>
   </text>
    <text class="promise text-grey">
        源头上杜绝假货</br>
        模式决定：<text class="text-gold">我们只卖正品</text>
    </text>
</div>