<div class="section">
    <img src="./img/screen3/swiper/1.jpg" class="section6-img section6-img1"/>
    <img src="./img/screen3/swiper/1.jpg" class="section6-img section6-img2"/>
    <img src="./img/screen3/swiper/1.jpg" class="section6-img section6-img3"/>

    <img src="./img/screen3/table-bg.svg" class="section6-bg">
</div>