<div class="section">
    <div class="flex-center full-height flex-column">
        <img class="me-icon" src="./img/screen1/me-icon.svg" >
        <p class="text-grey text begin-text">现在，开启您的海淘挖货之旅</p>
        <button class="button text-mini">领取新人红包</button>
    </div>
</div>