<div class="section">
    <div class="flex-center full-height flex-column">
        <img class="section13-icon" src="./img/screen1/me-icon.svg" >
        <p class="text-grey text section13-text">现在，开启您的海淘挖货之旅</p>
        <button class="section13-button text">领取新人红包</button>
    </div>
</div>