<div class="section">
    <div class="waterfall-box">
        <div class="waterfall-wrap">
            <div class="waterfall">
                <div class="pic" id="waterfall">
                    <img src="img/2.jpg"/>
                    <img src="img/2.jpg"/>
                    <img src="img/2.jpg"/>
                    <img src="img/2.jpg"/>
                    <img src="img/2.jpg"/>
                    <img src="img/2.jpg"/>
                    <img src="img/2.jpg"/>
                    <img src="img/2.jpg"/>
                    <img src="img/2.jpg"/>
                    <img src="img/2.jpg"/>
                    <img src="img/2.jpg"/>
                    <img src="img/2.jpg"/>
                    <img src="img/2.jpg"/>
                    <img src="img/2.jpg"/>
                    <img src="img/2.jpg"/>
                </div>
            </div>
        </div>
        <div class="waterfall-wrap">
            <div class="waterfall">
                <div class="pic" id="waterfall1">
                    <img src="img/2.jpg"/>
                    <img src="img/2.jpg"/>
                    <img src="img/2.jpg"/>
                    <img src="img/2.jpg"/>
                    <img src="img/2.jpg"/>
                    <img src="img/2.jpg"/>
                    <img src="img/2.jpg"/>
                    <img src="img/2.jpg"/>
                    <img src="img/2.jpg"/>
                    <img src="img/2.jpg"/>
                    <img src="img/2.jpg"/>
                    <img src="img/2.jpg"/>
                    <img src="img/2.jpg"/>
                    <img src="img/2.jpg"/>
                    <img src="img/2.jpg"/>
                </div>
            </div>
        </div>
        <div class="waterfall-wrap">
            <div class="waterfall">
                <div class="pic" id="waterfall2">
                    <img src="img/2.jpg"/>
                    <img src="img/2.jpg"/>
                    <img src="img/2.jpg"/>
                    <img src="img/2.jpg"/>
                    <img src="img/2.jpg"/>
                    <img src="img/2.jpg"/>
                    <img src="img/2.jpg"/>
                    <img src="img/2.jpg"/>
                    <img src="img/2.jpg"/>
                    <img src="img/2.jpg"/>
                    <img src="img/2.jpg"/>
                    <img src="img/2.jpg"/>
                    <img src="img/2.jpg"/>
                    <img src="img/2.jpg"/>
                    <img src="img/2.jpg"/>
                </div>
            </div>
        </div>
    </div>
    <text class="produce" id="font5">收录商品</text>
    <text class="produce-number" id="font6">300万</text>
</div>