<div class="section">
    <div class="flex-center full-height flex-column">
        <img src="img/heart.svg" class="section4-icon"/>
        <p id="brand" class="text-font-bold text-black text-h3  section4-text">Gucci</p>
    </div>
</div>