<div class="section">
    <div class="position-center flex-center flex-column">
        <p class="text-h3 text-light" id="font7">设计师品牌</p>
        <p class="text-h3 section5-num" id="font8">2万+</p>
    </div>

    <div  class="position-center flex-center full-width">
        <img src="img/heart.svg" class="section5-icon"/>
        <p class="text-h3" id="font9">订阅你喜爱的品牌</p>
    </div>
</div>