<div class="section">
    <div class="flex-center section4">
        <img src="img/heart.svg" class="section4-icon"/>
        <p id="brand" class="text-font-bold text-black text-h3">Gucci</p>
    </div>
</div>