<div class="section">
        <text class="brand-designer" id="font7">设计师品牌</text>
        <text class="brand-amount" id="font8">2万+</text>
        <img src="img/heart.svg" class="brand-heart"/>
        <text class="brand-like" id="font9">订阅你喜爱的品牌</text>
</div>