<div class="section">
    <p class=" section1-text position-center text-h3 text-grey" id="font1">
        时尚轻奢商品遍布
        <text class="text-gold">全球</text>
    </p>

    <p class="section1-text position-center text-h3 text-grey" id="font2">
        海淘想更
        <text class="text-lack">轻松</text>
        更
        <text class="text-lack">划算</text>
    </p>

    <div class="section1-bg position-center"  id="bg1">
        <img src="./img/screen1/world.svg"/>
    </div>
</div>