<div class="section">
    <div class="flex-center section2">
        <img src="./img/screen1/me-icon.svg" >
        <div class="flex-center  text-grey">
            <p class="text-h3" id="font3">迷衣</p>
            <div class="section2-line"></div>
            <p class="text" id="font4">全球时尚<br/>挖货平台</p>
        </div>
    </div>
</div>