<div class="section">
    <img class="world-img" id="bg1" src="img/world.svg"/>
    <text class="preface text-h3 text-black" id="font1">
        时尚轻奢商品遍布
        <text class="text-gold">全球</text>
    </text>

    <text class="preface text-h3 text-black" id="font2">
        海淘想更
        <text class="text-lack">轻松</text>
        更
        <text class="text-lack">划算</text>
    </text>
</div>