<div class="section">
    <div class="section5 flex-center">
        <p class="text text-grey">
            我们始于<text class="text-font-bold text-h3 text-gold">2012</text>年
        </p>
        <p class="text text-grey">
            <text class="text-h3 text-font-bold text-gold">2014</text> 累计销售<text class="text-font-bold text-h3 text-black ">400000</text>件
        </p>
    </div>

</div>