<div class="section">
    <div class="position-center full-width text-center text text-grey">
        我们始于
        <span class="text-font-bold text-h3 text-gold">2012</span>
        年
    </div>
    <div class="position-center full-width text-center text text-grey">
        <span class="text-h3 text-font-bold text-gold">2014</span>
        累计销售
        <span class="text-font-bold text-h3 text-black ">400000</span>
        件
    </div>
</div>