<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
<div class="page" id="page">

    {#  screen1  #}
{#    {% include "./screen1/frame1.twig" %}#}
{#    {% include "./screen1/frame2.twig" %}#}

{#    #}{#  screen2  #}
{#    {% include "./screen2/frame1.twig" %}#}
{#    {% include "./screen2/frame2.twig" %}#}
{#    {% include "./screen2/frame3.twig" %}#}

{#    #}{#  screen3  #}
{#    {% include "./screen3/frame1.twig" %}#}
{#    {% include "./screen3/frame2.twig" %}#}

{#    #}{#  screen4  #}
{#    {% include "./screen4/frame1.twig" %}#}
{#    {% include "./screen4/frame2.twig" %}#}
{#    {% include "./screen4/frame3.twig" %}#}

    {#  screen5  #}
    {% include "./screen5/frame1.twig" %}
    {% include "./screen5/frame2.twig" %}

    {#  screen6  #}
    {% include "./screen6/frame1.twig" %}
</div>
<script src="./js/greensock-js/src/minified/TweenMax.min.js"></script>
<script src="./js/greensock-js/src/minified/plugins/TextPlugin.min.js"></script>
<script src="./js/greensock-js/src/minified/SplitText.min.js"></script>
<script src="./js/jquery-1.8.3.min.js"></script>
<script src="./js/jquery.fullPage.min.js"></script>
<script src="./js/main.js"></script>
</body>
</html>