<div class="section">
{#      frame1  #}
    <div class="screen4-main full-height flex-center" id="shipping">
        <div class="screen4-box-item">
            <img src="img/location.svg" class="screen4-img"/>
            <p class="text text-light">货源地</p>
        </div>

        <div class="screen4-dash"  id="dash">
            <div class="screen4-dot screen4-dash-left" id="doc"></div>
        </div>

        <div class="screen4-box-item">
            <img src="img/depot.svg" class="screen4-img" />
            <p class="text  text-light">自营仓库</p>
        </div>

        <div class="screen4-dash"></div>

        <div class="screen4-box-item">
            <img src="img/worker.svg" class="screen4-img" />
            <p class="text text-light">员工把关验货</p>
        </div>

        <div class="screen4-dash"></div>

        <div class="screen4-box-item">
            <img src="img/SF.svg" class="screen4-img" />
            <p class="text text-light">顺丰配送</p>
        </div>
    </div>

{#      //frame2#}
    <div >
        <p class="transparent text text-grey position-center full-width text-center" id="font13" >
            阳光快速清关路线，价格已含关税
        </p>

    </div>

{#    #}{#  frame3  #}
    <div class="flex-center full-height" >
        <div class="transparent flex-center flex-column screen4-item" id="font14">
            <p class=" text-h3 text-grey text-light item-title">平均收货时间</p>
            <p class=" text text-font-bold">
                <span class=" text-h3 text-blue text-font-bold">8.3</span>天
            </p>
        </div>

        <div  class="transparent flex-center flex-column screen4-item" id="font15">
            <p class=" text-h3 text-grey text-light item-title">两周内收货</p>
            <p class=" text text-font-bold">
                <span class="text-h3 text-green text-font-bold">95%</span>用户
            </p>
        </div>
    </div>
</div>