<div class="section">
    {#  frame1  #}
    {% set list1 =[
        'media/screen3/swiper/1.jpg',
        'media/screen3/swiper/2.jpg',

    ] %}
    {% set list2 =[
        'media/screen3/swiper/5.jpg',
        'media/screen3/swiper/6.jpg',
    ] %}
    <img src="../../media/screen3/table-bg.svg" class="screen3-table-bg" id="background"/>
    <div class="position-center full-height full-width screen3-box" id="list-img">

        {% for i in list1 %}
            <img src="{{ i }}" class="screen3-img">
        {% endfor %}
        {% for i in list2 %}
            <img src="{{ i }}" class="screen3-img screen3-img1" >
        {% endfor %}
        {% for i in list1 %}
            <img src="{{ i }}" class="screen3-img">
        {% endfor %}
        {% for i in list2 %}
            <img src="{{ i }}" class="screen3-img screen3-img1" >
        {% endfor %}
    </div>


        <div>
            <div class="position-center full-width ">
                <p class="transparent text text-grey text-center" id="font10">
                    甄选海外40多家
                    <span class="text-gold">实体店</span>/
                    <span class="text-gold">电商网站</span>
                </p>
            </div>

            <div  class="position-center text text-grey full-width text-center">
                <p class="transparent text-light" id="font11">源头上杜绝假货</p>
                <p  class="transparent" id="font12">模式决定：<span class="text-gold">我们只卖正品</span></p>
            </div>

            <div class="screen1-bg position-center"  id="background1">
                <img src="../../media/screen1/world.svg"/>
            </div>
        </div>
</div>