<div class="section">
    {#  frame1  #}
    {%
        set list = [
        'https://pc.cdn.xyh.io/FjosHbIEqJ4V-_nSXzdEZC_rrNLa',
        'https://pc.cdn.xyh.io/FspmaZXFEJRjOeO2Teo0dc5qqm_O',
        'https://pc.cdn.xyh.io/Fh6gwH_LCDS3urTjYJVl0kWspmcI',
        'https://pc.cdn.xyh.io/FidVIEkOexX4EdoIBUKd-KqvEPZ-',
        'https://pc.cdn.xyh.io/Fhd1dvzpJi0muLSMpN_TnvrI8xFN',
        'https://pc.cdn.xyh.io/FtAQzwUtioBSfFwbnXjxBkfdX-oy',
        'https://pc.cdn.xyh.io/FkgtbWUXvghVOb_a0gafB0-X86l7',
        'https://pc.cdn.xyh.io/Fif81wDW0sK70VE8IiQWa_y8OS9x',
        'https://pc.cdn.xyh.io/Fl_wKHiTv0j-hH5XYJP26xL1dZqd',
        'https://pc.cdn.xyh.io/FswuqeJVpJOM6weYJves_3FcNo72',
        'https://pc.cdn.xyh.io/FgK1fstmfr1Fr7aLiVfLF-6_W1eL',
        'https://pc.cdn.xyh.io/FkUZK6VxQyoycclvWHdHKycEwyiK',

    ]
    %}
    <div class="position-center full-width full-height">
        <div class="screen2-waterfall" id="waterfall-box">
            <div class="waterfall-list" id="waterfall">
                {% for i in list %}
                    <img src="{{ i }}" class="waterfall-item" alt="">
                {% endfor %}
            </div>
            <div class="waterfall-list1" id="waterfall1">
                {% for i in list %}
                    <img src="{{ i }}" class="waterfall-item" alt="">
                {% endfor %}
            </div>
            <div class="waterfall-list" id="waterfall2">
                {% for i in list %}
                    <img src="{{ i }}" class="waterfall-item" alt="">
                {% endfor %}
            </div>
        </div>

        <div class="screen2-text">
            <p class="text-h3 text-black text-light " id="font5">收录商品</p>
            <p class="text-h3 text-black text-font-bold" id="font6">300万</p>
        </div>
    </div>

{#      frame2#}
    <div class="position-center flex-center full-height flex-column">
        <img src="img/heart.svg" class="screen2-icon " id="heart"/>
        <p id="brand" class="text-font-bold text-black text-h3 screen2-brand">Gucci</p>
    </div>

    {#  frame3  #}
{#    <div>#}
{#        <div class="position-center flex-center flex-column">#}
{#            <p class="text-h3 text-light" id="font7">设计师品牌</p>#}
{#            <p class="text-h3 screen2-num" id="font8">2万+</p>#}
{#        </div>#}

{#        <div  class="position-center flex-center full-width">#}
{#            <img src="img/heart.svg" class="screen2-icon"/>#}
{#            <p class="text-h3" id="font9">订阅你喜爱的品牌</p>#}
{#        </div>#}
{#    </div>#}

</div>